node_modules
build
.env
.env.local
__pycache__
*.pyc
.pytest_cache
.DS_Store
venv
.venv
test_reports
.env.*
*.env
credentials.json
*.pem
*.key
.credentials
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/1.pack
